{% if current_user.is_authenticated %}
    {%if settings.theme == "1"%}
        <style>
            body{
                background: url("static/image/background/main_dark.jpg");
                -moz-backround-size: 100%;
                -webkit-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                }
        </style>
    {%else%}
        <style>
            body{
                background: url("static/image/background/main_light.jpg");
                -moz-backround-size: 100%;
                -webkit-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                }
        </style>
    {%endif%}
{%else%}
    <style>
            body{
                background: url("static/image/background/welcome.jpg");
                -moz-backround-size: 100%;
                -webkit-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                }
        </style>
{%endif%}
{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <a href="notes" class="btn btn-secondary">Добавить запись</a>
    <a class="btn btn-secondary" href="/settings">Настройки</a>
{% endif %}
<h1>Simple note</h1>
{% if current_user.is_authenticated %}
    <br>
    <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src={{icon_url}} class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                 <div class="card-body">
                    <h4 class="card-title">Погода</h4>
                    {% for i in weather %}
                        <p class="card-text">{{ i}}</p>
                    {% endfor %}
                 </div>
            </div>
        </div>
    </div>
    <br>
    {% for item in notes%}
    <div class="col-md6 border rounded" style="background-color: {{settings.bg_color}}; color: {{settings.text_color}};">
        <h2>{{item.title}}</h2>
        <div>
            {{item.content}}
        </div>
        {%if item.image%}
            <div>
                <img src={{item.image}} style="max-width: 300px; height: auto;">
            </div>
        {%endif%}
        <div>
            {{item.user.name}}, Дата написания - {{item.created_date}}
            {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/notes/{{ item.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/notes_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{%else%}
    <div class="col-md6 border rounded" style="background-color: white; color: black;">
        {% for item in data %}
            <h4>{{item}}</h4>
        {% endfor %}
        <p><a href="about" style='font-size:2.2em'>о нас</a></p>
    </div>

{% endif %}
{% endblock %}