{%if dark_theme_value == "off"%}
    <style>
        body{
            background: url("static/img/bg/settings_light.jpg");
            -moz-backround-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            }
    </style>
{%else%}
    <style>
        body{
            background: url("static/img/bg/settings_dark.jpg");
            -moz-backround-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            }
    </style>
{%endif%}
{% extends "base.html" %}

{% block content %}
    <h1>Настройки</h1>
    <form class="settings_form" method="post">
        <div class="form-group">
          <label for="colorpicker">Цвет оформления заметок:
            <input type="color" id="colorpicker" name="color" value={{color_value}}>
          </label>
        </div>
        {%if dark_theme_value == 'on'%}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="dark_theme" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">Темная тема</label>
            </div>
        {%else%}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="dark_theme">
                <label class="form-check-label" for="flexSwitchCheckDefault">Темная тема</label>
            </div>
        {%endif%}
        <div>
            <label for="city">Ваш город: </label><br>
            <input type="text" id="city" name="city" value={{city_value}}>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}