{% extends "base.html" %}

{% block content %}
    <h1>Настройки</h1>
    <form class="settings_form" method="post">
        <div class="form-group">
          <label for="colorpicker">Цвет оформления заметок:
            <input type="color" id="colorpicker" name="color" value={{color_value}}>
          </label>
        </div>
        {%if dark_theme_value == 'on'%}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="dark_theme" checked>
                <label class="form-check-label" for="flexSwitchCheckDefault">Темная тема</label>
            </div>
        {%else%}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="dark_theme">
                <label class="form-check-label" for="flexSwitchCheckDefault">Темная тема</label>
            </div>
        {%endif%}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}