{%if settings.theme == "1"%}
        <style>
            body{
                background: url("static/image/background/settings_dark.jpg");
                -moz-backround-size: 100%;
                -webkit-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                }
        </style>
{%else%}
    <style>
        body{
            background: url("static/image/background/settings_light.jpg");
            -moz-backround-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            }
    </style>
{%endif%}
{% extends "base.html" %}

{% block content %}
    {%if settings.theme == "1"%}
        <h1 style="color:white;">Настройки</h1>
    {%else%}
        <h1 style="color:black;">Настройки</h1>
    {%endif%}
    <form action="" class="settings_form" method="post">
        {{ form.hidden_tag() }}

          {{ form.bg_color.label }}<br>
             {{ form.bg_color(class="form-control", type="color") }}<br>
                {% for error in form.bg_color.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
        </div>
        <div class="form-group">
          {{ form.text_color.label }}<br>
             {{ form.text_color(class="form-control", type="color") }}<br>
                {% for error in form.text_color.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
        </div>
            <p>{{ form.theme() }} {{ form.theme.label }}</p>
        <div>
            {{ form.city.label }}<br>
             {{ form.city(class="form-control") }}<br>
                {% for error in form.city.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
        </div>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}