{%if dark_theme_value == "off"%}
    <style>
        body{
            background: url("static/img/bg/creating_light.jpg");
            -moz-backround-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            }
    </style>
{%else%}
    <style>
        body{
            background: url("static/img/bg/creating_dark.jpg");
            -moz-backround-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            }
    </style>
{%endif%}
{% extends "base.html" %}

{% block content %}
    <div class="card" style="width: 12rem;">
        <img src={{icon_url}} class="card-img-top" alt="...">
        <h4 class="card-title">Погода</h4>
        {% for i in data %}
            <p class="card-text">{{ i}}</p>
        {% endfor %}

{% endblock %}